{% extends "admin-layout.njk" %}
   
{% block title %}
   <title>Novo chef</title>
{% endblock title %} 

{% block head %}
   <link rel="stylesheet" href="/css/admin-receitas.css">
{% endblock head %}

{% block content %}
   <section class="create-chef">
      <div class="container">
         <div class="forms-actions">
            <form method="POST" action="/admin/chefs">
               <div class="title-content">
                  <h2>Criando chef</h2>
                  <button type="submit">Salvar chef</button>
               </div>
               <div class="create-item">
                  <h2>Nome</h2>
                  <input type="text" name="name" placeholder="Jorge rabelo">
               </div><!--create-item-->
               <div class="create-item">
                  <h2>Avatar</h2>
                  <input type="text" name="avatar_url" placeholder="https://...">
               </div><!--create-item-->    
            </form>
         </div>
      </div><!--container-->
   </section>
{% endblock content %}

