{% extends "admin-layout.njk" %}
   
{% block title %}
   <title>Novo chef</title>
{% endblock title %} 

{% block head %}
   <link rel="stylesheet" href="/css/admin-receitas.css">
{% endblock head %}

{% block content %}
   <section class="create-chef">
      <div class="container">
         <div class="forms-actions">
            <form method="POST" action="/admin/chefs" enctype="multipart/form-data">
               <div class="title-content">
                  <h2>Criando chef</h2>
                  <button class="save" type="submit">Salvar chef</button>
               </div>

               {% include 'admin/chefs/filds.njk' %}               
            </form>
         </div>
      </div><!--container-->
   </section>
{% endblock content %}

{% block script %}
   <script src="/js/photos-upload.js"></script>
{% endblock script %}