{% extends "admin-layout.njk" %}
   
{% block title %}
   <title>Editar Chef</title>
{% endblock title %} 

{% block head %}
   <link rel="stylesheet" href="/styles/admin.css">
{% endblock head %}

{% block content %}
   <section class="create-chef">
      <div class="container">
         <div class="forms-actions">
            <form class="form-save" method="POST" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">
               <div class="title-edit">
                  <h2>Editar chef</h2>
                  <button class="save" type="submit">Salvar chef</button>
               </div>
                          
               {% include 'admin/chefs/fields.njk' %}               
          
               <input type="hidden" name="id" value="{{chef.id}}">    
            </form>             
   
            <form id="form-delete" method="POST" action="/admin/chefs?_method=DELETE">
               <input type="hidden" name="id" value="{{chef.id}}">

               <button class="chef-delete" type="submit">Deletar</button>
            </form>
         </div>
      </div><!--container-->
   </section>
{% endblock content %}

{% block script %}
   <script src="/js/photos-upload.js"></script>
{% endblock script %}