{% extends "admin-layout.njk" %}
   
{% block title %}
   <title>Editar Chef</title>
{% endblock title %} 

{% block head %}
   <link rel="stylesheet" href="/css/admin-receitas.css">
{% endblock head %}

{% block content %}
   <section class="create-chef">
      <div class="container">
         <div class="forms-actions">
            <div class="title-edit">
               <h2>Editar chef</h2>
            </div>
            <form class="form-save" method="POST" action="/admin/chefs?_method=PUT">
              
               {% include 'admin/chefs/filds.njk' %}
                           
               <input type="hidden" name="id" value="{{chef.id}}">    
            </form>             
   
            <form id="form-delete" method="POST" action="/admin/chefs?_method=DELETE">
               <input type="hidden" name="id" value="{{chef.id}}">

               <button class="chef-delete" type="submit">Deletar</button>
            </form>
         </div>
      </div><!--container-->
   </section>
{% endblock content %}

