<div class="create-item">
  <h2>Nome</h2>
  <input type="text" name="name" value="{{chef.name}}" placeholder="Jorge rabelo">
</div><!--create-item-->
<div class="create-item">
  <h2>Avatar</h2>
  <div class="avatar-upload">
    <div class="avatar-wrapper">
      <input type="file" name="photo" id="photos-input" multiple accept="image/*" onchange="chefUpload.fileUploadInput(event)">
      <p>Enviar Avatar</p>
    </div>
    <div class="avatar-single">
      <span class="material-icons">done</span>
    </div>
  </div>
</div><!--create-item-->