   <div class="login-item">
      <h2>Nome</h2>
      <input   
         type="text" 
         name="name" 
         placeholder="Digite o nome completo" 
         value="{{user.name}}" 
         onblur="Validate.apply(this, 'isName')"
         required
      >
   </div><!--item-->
   
   <div class="login-item">
      <h2>Email</h2>
      <input   
         type="email" 
         name="email" 
         placeholder="Digite o email" 
         value="{{user.email}}" 
         onblur="Validate.apply(this, 'isEmail')"
         required
      >
   </div><!--item-->

<div class="login-item">
   {% if user.is_admin == true %}
      <input type="checkbox" name="is_admin" id="admin" checked />
   {% else %}  
      <input type="checkbox" name="is_admin" id="admin" />
   {% endif %}
   <label for="admin">Administrador</label>
</div>






