{% extends "layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/home.css">
{% endblock head %}

{% block header %}
  <form class="search" action="/receitas" method="GET">
    <input type="text" name="search" value="{{search}}" placeholder="Buscar uma receita">
    <button type="submit">Buscar</button>
  </form>
{% endblock header %}

{% block content %}
  <section class="banner">
    <div class="container">
      <div class="banner-info" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <h2>As melhores receitas</h2>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
      </div>
      <!--banner-info-->
      <div class="banner-img" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="600">
        <img src="./assets/chef.png" alt="img-chef">
      </div>
      <!--banner-img-->
    </div>
    <!--container-->
  </section>
  <!--banner-->

  <section class="receitas-acessadas">
    <div class="container">
      <div class="title-acessadas">
        <h2>Mais acessadas</h2>
      </div>
      <!--title-->

      <div class="cards-receitas">
        {% for recipe in recipes %}
          {% if loop.index0 < 6 %}
            <!-- faiz o loop ate o limit d 6 -->
            <div class="card" id="{{recipe.id}}">
              <div class="card-img">
                <img src="{{recipe.img}}" alt="imagem de {{recipe.title}}">
              </div>
              <!--card-img-->
              <div class="card-info">
                <h2>{{recipe.title}}</h2>
                <p>por
                  {{recipe.chef_name}}</p>
              </div>
              <!--card-info-->
            </div>
            <!--card-->
          {% endif %}
        {% endfor %}
      </div>
      <!--cards-receitas-->

    </div>
    <!--container-->
  </section>
{% endblock content %}