{% extends "layout.njk" %}
   
{% block head %}
   <link rel="stylesheet" href="/styles/404.css">
{% endblock head %}
  
{% block content %}
   <section class="banner-404">
      <div class="container">
         <div class="banner-info-404">
            <img src="/assets/404.png" alt="imagem pagina nao encontrada">
            <a href="/">Voltar para home</a>
         </div><!--banner-info-->
      </div><!--container-->
   </section><!--banner-->
{% endblock content %}