{% extends "layout.njk" %}

{% block title %}
  <title>Chef | {{chef.name}}</title>
{% endblock title %}

{% block head %}
  <link rel="stylesheet" href="/styles/chefs.css">
{% endblock head %}

{% block content %}
  <section class="chef">
    <div class="container">
      <div class="title-content title-destaque">
        <h2>Chef:
          {{chefInfo.name}}</h2>
      </div>
      <div class="show-chef-card">
        <div class="show-chef-img">
          <img src="{{chef.file.src}}" alt="imagem de {{chef.name}}">
        </div>
        <!--card-img-->
        <div class="show-chef-info">
          <h2>{{chef.name}}</h2>
          <p>{{chef.total_recipes}}
            receitas</p>
        </div>
      </div>
    </div>
  </section>

  <section class="chef-receitas">
    <div class="container">
      <div class="title-content">
        <h2>Receitas</h2>
      </div>
      <div class="receitas-cards">
        {% for recipe in recipes %}
          <div class="admin-card">
            <div class="card-img">
              <img src="{{recipe.img}}" alt="imagem de {{recipe.title}}">
            </div>
            <!--card-img-->
            <div class="card-info">
              <h2>{{recipe.title}}</h2>
              <p>
                por
                {{recipe.chef_name}}
              </p>
              <a href="/receita/{{recipe.id}}">Visualizar</a>
            </div>
            <!--card-info-->
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}