header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.user-login.container,
section.user-reset-password.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 60px 0;
  font-family: Helvetica, sans-serif;
}

h3.users-title {
  font-size: 24px;
  font-weight: bold;
  color: #111111;
  text-align: center;
}

.fields .login-item h2 {
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  color: #111111;
}

.fields .login-item {
  margin-top: 35px;
}

.fields .login-item input {
  width: 100%;
  border-radius: 4px;
  background: #ffffff;
  border: 2px solid #dddddd;
  padding: 13px;
  outline: none;
  font-size: 18px;
  margin-top: 10px;
}

.fields .login-item input:focus {
  border: 2px solid #04a3ff;
  transition: 400ms;
}

.login-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.login-actions a {
  color: #969696;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

form button {
  padding: 7px 15px;
  border-radius: 4px;
  background: #6558c3;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

form button {
  border: none;
  outline: none;
  cursor: pointer;
}

.login-actions button,
.reset-password-actions button {
  font-size: 16px;
  font-weight: bold;
  padding: 9px 26px;
}

/*--reset-password--*/
.reset-password-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 35px;
}

/*--messages--*/
@keyframes hidemessage {
  to {
    right: 0;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.messages-container {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--color-first-text);
  padding: 50px 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  opacity: 1;
  visibility: visible;
  animation: hidemessage 600ms linear 3s forwards;
}

.messages-container::before {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: #fff;
  bottom: 1px;
  left: 0;
  animation: progress 3s linear forwards;
}

.messages-container.success {
  background-color: #01b12a;
}

.messages-container.error {
  background-color: #dc4747;
}
