@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --color-title: #111111;
  --color-descricion: #777777;
  --color-sub-title: #666;
  --color-first-background: #6558c3;
  --color-second-background: #463b99;
  --color-first-text: #ffffff;
  --color-second-text: #ffffffaf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 8px;
  background: #eee;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgb(196, 196, 196);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(160, 160, 160);
}

a {
  text-decoration: none;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.topbtn {
  position: fixed;
  bottom: 80px;
  right: 30px;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  z-index: 998;
  color: white;
  background: #111111;
  border-radius: 50%;
  outline: none;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms ease-in;
}

.topbtn span {
  font-size: 30px;
  font-weight: bold;
}

.topbtn.active {
  opacity: 1;
  visibility: visible;
}

header {
  padding: 25px 0;
}

header .container {
  display: grid;
  grid-template-columns: 140px 1fr 1fr;
  align-items: center;
}

header .logo .logo-white {
  display: none;
}

header .links a {
  color: var(--color-descricion);
  font-size: 16px;
  font-weight: 400;
  margin-left: 25px;
  font-family: Helvetica, sans-serif;
  transition: 400ms;
}

header .links a:hover {
  color: var(--color-title);
}

.links .link-active {
  color: var(--color-title);
  font-weight: bold;
  border-bottom: 1px solid var(--color-title);
}

header.stick {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 15px 0;
  background: #111111;
  transition: 500ms ease-in;
  z-index: 33;
}

header.stick .logo-black {
  display: none;
}

header.stick .logo-white {
  display: block;
}

header.stick .links a {
  color: #eee;
}

header.stick .links .link-active {
  color: var(--color-first-text);
  border-bottom: 1px solid white;
}

header.stick .links a:hover {
  color: var(--color-first-text);
  transition: 400ms;
}

/*---header---*/
header form.search {
  display: grid;
  grid-template-columns: 1fr 80px;
  align-items: center;
  grid-gap: 8px;
  text-align: center;
}

header form.search input {
  border: 1px solid #dddddd;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  padding: 6px 12px;
}

header form.search input:focus {
  border: 1px solid #0586ff;
}

header form.search button[type="submit"] {
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  padding: 6px;
  color: var(--color-first-text);
  background-color: var(--color-first-background);
  border: none;
  outline: none;
  cursor: pointer;
}

header form.search button:hover {
  background-color: var(--color-second-background);
  transition: 600ms;
}

/*---sobre---*/

section.descricao {
  margin: 40px 0 60px 0;
}

.sobre-info {
  padding-bottom: 30px;
}

.sobre-info h2 {
  color: var(--color-title);
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.title-inicio-info h2 {
  font-size: 24px;
}

.sobre-info p {
  color: #444444;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

/*---auxiliares---*/

a.button {
  padding: 7px 15px;
  border-radius: 4px;
  background: var(--color-first-background);
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

a.button:hover {
  background: var(--color-second-background);
  transition: 600ms;
}

.title-destaque {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*--paginaçao--*/

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.pagination a,
.pagination span {
  color: var(--color-descricion);
  text-decoration: none;
  margin-right: 16px;
  transition: 400ms;
}

.pagination a:hover {
  filter: brightness(0.3);
  border-bottom: 1px solid var(--color-title);
}

/*---footer---*/

footer {
  width: 100%;
  padding: 25px 0;
  margin-top: auto;
  background: #eeeeee;
}

footer p {
  color: #999999;
  font-size: 15px;
  text-align: center;
}
