{% extends "admin-layout.njk" %}
   
{% block title %}
   <title>Nova Receita</title>
{% endblock title %} 

{% block head %}
   <link rel="stylesheet" href="/styles/admin.css">
{% endblock head %}

{% block content %}
   <section class="create-recipe">
      <div class="container">
         <div class="forms-actions">
            <form method="POST" action="/admin/recipes" enctype="multipart/form-data">
               <div class="title-content">
                  <h2>Criar receita</h2>
                  <button type="submit">Salvar receita</button>
               </div>

               {% include 'admin/recipes/fields.njk' %}
               
            </form>
         </div>
      </div><!--container-->
   </section>
{% endblock content %}

